<!DOCTYPE html>
<html>
  <head>
    <title>PostRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <ul class="nav-bar-el">
        <% if user_signed_in? %>
          <li class="user-name"><%= current_user.email %></li>
          <li class="link-contaner"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <li class="link-contaner"><%= link_to 'Post', posts_path %></li>
          <li class="link-contaner"><%= link_to 'User info', users_show_path %></li>
        <% else %>
          <li class="link-contaner">
            <%= link_to('Login', new_user_session_path)  %>
            <li class="link-contaner"><%= link_to 'Post', posts_path %></li>
          </li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
