<!DOCTYPE html>
<html>
  <head>
    <title>PostRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <% unless current_user.nil? %>
        <ul>
          <li><%= current_user.email %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
